.dot-loader {
               width: 4px;
               height: 4px;
               border-radius: 50%;
               background-color: #000;
               margin: 2px;
               animation: dot-loader-animation 1s infinite ease-in-out;
             }
             
             @keyframes dot-loader-animation {
               0%,
               80% {
                 transform: scale(0);
               }
               40% {
                 transform: scale(1);
               }
             }
             
             
